.header {
  position: relative;
  background: var(--sub);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--accent);
  display: flex;
  padding: 20px;

  box-shadow: 0 12px 25px -20px #00000073;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
}

.logoImagePC {
  object-fit: contain;
}

.logoImageMobile {
  object-fit: contain;
  position: absolute;
  width: auto;
  height: 80%;
  top: 16px;
  left: 16px;
  opacity: 0.2;
  display: none;
}

.created {
  font-size: 12px;
  text-align: center;
}

.links {
  overflow: hidden;
  padding: 36px 16px;
}

.button {
  opacity: 0.7;
  text-align: center;
  border: 0;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 8px 14px -12px #00000080, inset 0 -3px 4px -1px #0003,
    0 -10px 15px -1px #fff, inset 0 3px 4px -1px #fafafa, inset 0 0 5px 1px #fff,
    inset 0 20px 30px #e0e0e0;
  border-radius: 30px;
  background: var(--sub);
  display: block;
  width: 170px;
  padding: 8px;
}

.button:active {
  box-shadow: 0 8px 14px -12px #0006, inset 0 -8px 30px 1px #fff,
    0 -10px 15px -1px #fff, inset 0 8px 25px #0008, inset 0 0 10px 1px #fff9;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 16px;
  }
  .logo {
    font-size: 20px;
    padding-bottom: 0;
  }

  .links {
    padding: 16px;
  }

  .link {
    padding: 8px;
  }

  .logoImagePC {
    display: none;
  }

  .logoImageMobile {
    display: block;
  }
}
