.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.h1_title {
  text-align: center;
  margin: 72px auto 24px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
}
