.qr_creator {
  margin-top: 40px;
}

.preview {
  margin: 30px auto;
  width: fit-content;
}

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 40px;
  background: var(--accent);
  color: var(--sub);
  border-radius: 12px;
  font-size: 14px;
}
.popup_preview {
  margin: auto;
}
.popup canvas {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  .popup {
    padding: 16px;
    font-size: 10px;
  }

  .popup canvas {
    width: 100px;
    height: 100px;
  }
}

.input_wrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.textbox {
  color: var(--accent);
  opacity: 0.7;
  border-radius: 26px;
  padding: 20px;
  text-align: center;
  width: 400px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-size: 16px;
  outline: none;
  background-color: var(--base);
  border: none;

  box-shadow: 0 15px 25px -4px #00000080, inset 0 -3px 4px -1px #0003,
    0 -10px 15px -1px #fff, inset 0 3px 4px -1px #fafafa, inset 0 0 5px 1px #fff,
    inset 0 20px 30px #e0e0e0;
}

.textbox:focus {
  box-shadow: 0 15px 25px -4px #0006, inset 0 -8px 30px 1px #fff,
    0 -10px 15px -1px #fff, inset 0 8px 25px #0008, inset 0 0 10px 1px #fff9;
  width: 500px;
  outline: none;
}

.clear {
  cursor: pointer;
  font-size: 60px;
}

.download_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.section {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .qr_creator {
    margin-top: 24px;
  }

  .textbox {
    width: 270px;
  }

  .textbox:focus {
    width: 100%;
  }

  .input_wrapper {
    gap: 8px;
    padding: 0px 16px;
  }

  .clear {
    font-size: 40px;
    order: -1;
  }
}
