.faq_container {
  margin: auto;
  background-color: var(--sub);
  padding: 32px;
  border-radius: 16px;
  width: 80%;
  border: 1px solid var(--accent);
}

.faq_container section {
  width: auto;
  margin-top: 2.5em;
}

.faq_container section:first-child {
  margin-top: 0;
}

.button_container {
  margin: 24px;
}

@media (max-width: 768px) {
  .faq_container {
    width: 99%;
    padding: 32px 16px;
  }
}
